<html>
    <head>
        <title>PROJECT</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/style.css">
    </head>
<style>
h2{color: violet;background-color: blueviolet;}
#one{background-color:gold;
    display:inline-block;
    position: absolute;
    top: 110px;
}
#two{background-color: orangered;
 display:inline-block;
 position: absolute;
    left: 210px;
 }

#menu li{
    display: inline;
    margin-left: 1em;
}

</style>
<body>
    <div id="menu">
        <ul>
            <a href="about.html">About</a>
            <a href="train.html">Training</a>
            <a href="servive.html">Service</a>
        </ul>
      
    </div>
<h1 style="padding-top: 10px;background-color: seagreen;padding-left: 10px;">
    <span style="color: orangered;">MY</span>
    <span style="color: peachpuff;">first</span> 
    <span style="color:tomato;">Class</span>
</h1>
<div id="one" style="width:200px; height:200px;">
  
    <h2 >Internal</h2>
    <h3>EXTERNAL </h3>
</div>

<div id="two" style="width:200px;height: 200px;">

</div>







</body>

</html>
